<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

 -->

<div class="banner"><h1>Stupid Coaching</h1></div>

<h2><%= params[:question] %></h2>

<div class="firstq"><h2> <%= @answer %></</h2></div>

<div class="link"><%= link_to "Ask a new question ", ask_path %></div>

