<!-- <h1>Questions#ask</h1> -->
<!-- <p>Find me in app/views/questions/ask.html.erb</p>
 -->

 <h1> Stupid Coaching</h1>

<h2> ask your coach for something</h2>

 <form action="/answer">
   <input type="text" name="question">
   <input type="submit" value="Ask!">
 </form>


